.antraste {
    background-color: aqua;
}
.pirma {
    color: red;
    background-color: yellowgreen;
}
.antra {
    color: red;
    background-color: bisque;
}
.trecia {
    color: orange;
    background-color: yellowgreen;
}