.media {
    height: 200px;
    background-color:yellow;
}

@media screen and (min-width: 600px) {
    .media {
        background-color: tomato;
        border:  5px dashed gray;
    }
}

@media screen and (min-width: 1000px) {
    .media {
       border: 2px solid black;
    }
}

@media screen and (min-width: 1200px) {
    .media {
        background-color: red;
    }
}

