.header{
    height: 100px;
    width: 99%;
    background-color: chartreuse;

}
.p5{
    padding: 5px;
}
.Ar{
    background-color: azure;
    width: 59%;
}
.as{
    background-color: darkseagreen;
    width: 20%;
}
.vidus{
    display: flex;
    flex-direction:row;
    height: 450px;
}
.nav{
    background-color: aquamarine;
    width: 20%;
    align-self:flex-start;
}
.fo{
background-color: chartreuse;
height: 90px;
width: 99%;
}
* {
    box-sizing: border-box;
}