.header{
    height: 100px;
    width: 100%;
    background-color: chartreuse;

}
.p5{
    padding: 5px;
}
.Ar{
    background-color: azure;
    width: 79%;
    height: 600px;
}
.as{
    background-color: darkseagreen;
    width: 20%;
    height: 600px;
}
.vidus{
    display: flex;
    width: 79%;
    flex-direction: column;
}
.nav{
    background-color: aquamarine;
    width: 20%;
    height: 800px;
}
.fo{
background-color: chartreuse;
height: 100px;
width: 79%;
}
* {
    box-sizing: border-box;
}
.visas{
    display: flex;
    width: 99%;
    height: 800px;
    flex-wrap: wrap;
}
.vidus2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.vidus3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.arti2{
    flex-direction: column;
    display: inline;
}

.bendras{
    flex-direction: row;
    align-items:flex-start;
}