.isore{
    display: flex;
    width: 50%;
    flex-direction: column;
    border: 3px solid orange;
    flex-direction: column
}
.vidus1{
    width: 80%;
    border: 3px solid blueviolet;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: start;
    flex-direction:row

}
.vidus2{
    width: 80%;
    border: 3px solid blueviolet;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.vidus3{  
      width: 80%;
    border: 3px solid blueviolet;
    padding: 20px;
    margin: 20px;
    display: flex;

}
.photo{
    display: flex;
    flex-direction: column;
    
}
.vardas{
    display: flex;
    width: 70%;
    
}
.textas{
    display: flex;
}
.duviename{
    display: flex;
    flex-direction: column;
}
.David{

    justify-content: flex-end;
}